
<DIV id=u6 style="position:absolute; left:75px; top:94px; width:150px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u6_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12px;"><b>Keep in touch</b></span></DIV></DIV>
<DIV id=u3 style="position:absolute; left:600px; top:50px; width:64px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u3_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:17px;"><u><b><%=link_to'Home', home_index_path%></b></u></span></DIV></DIV>
<DIV id=u3ann style="font-size:1px; position:absolute; left:655px; top:46px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u4 style="position:absolute; left:683px; top:49px; width:60px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u4_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:17px;"><u><b><%=link_to 'Login',  new_user_session_path%></b></u></span></DIV></DIV>
<DIV id=u4ann style="font-size:1px; position:absolute; left:734px; top:45px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u5 style="position:absolute; left:760px; top:49px; width:74px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u5_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:17px;"><u><b><%=link_to 'Signup', new_user_registration_path%></b></u></span></DIV></DIV>
<DIV id=u5ann style="font-size:1px; position:absolute; left:825px; top:45px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u7 style="position:absolute; left:840px; top:49px; width:74px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u7_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:17px;"><u><b><%=link_to 'Blog', home_blog_path%></b></u></span></DIV></DIV>
<DIV id=u7ann style="font-size:1px; position:absolute; left:905px; top:45px; width:1px; height:1px; overflow:visible"></DIV>

